################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockPick'18/.vs/StockPick'18/v15/Server/sqlite3
